<div class="navbar navbar-default" role="navigation">
<div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ng-href="#home">Home</a></li>
        <li><a ng-href="#home/leagues">Leagues</a></li>
        <li class="active"><a ng-href="#home/bowlers">Bowlers</a></li>
        <li><a ng-href="#home">Tickets</a></li>
      </ul>
      </div>
</div>

</div>

<div class="container">

<button ng-click="logout()" id="btn-signin" class="btn btn-primary btn-default" >Logout</button>

  <div class="panel panel-success">
    <div class="panel-heading">Create a new Bowler</div>
      <div class="panel-body">  
        <form class="form" ng-submit="submitBowler()" accept-charset="UTF-8">
          <div class="input-group">
          <input class="form-control" ng-model="bname" placeholder="Bowler name" required="required" maxlength="60" type="text">      
          <span class="input-group-btn">
            <button type="submit" id="btn-signin" class="btn btn-primary btn-default">Create</button> 
          </span>
          <span us-spinner="{radius:15, width:5, length: 15}" spinner-on="showSpinnerCreate"></span>
          </div>
        </form> 

        <div class="alert alert-success alert-dismissible" role="alert" ng-show="bowlerCreated">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Success!</strong> New Bowler created!
        </div>

      </div>
  </div>



  <div class="panel panel-success">
    <div class="panel-heading">Search a Bowler by ID</div>
      <div class="panel-body">  
        <form class="form" ng-submit="getBowler()" accept-charset="UTF-8">
          <div class="input-group">
            <input class="form-control input" ng-model="bId" placeholder="Bowler id" required="required" maxlength="60" type="text">
               <!-- <li> {{bowler}} </li> -->
            <span class="input-group-btn">
               <button type="submit" id="btn-signin" class="btn btn-primary btn-default" >Search</button>
            </span>
          </div>
          <span us-spinner="{radius:15, width:5, length: 15}" spinner-on="showSpinnerSearch"></span>
        </form>
        <span style="color:red"ng-show="bowlerNotFound">No Bowler found!</span> 
        <p> {{bowler}} </p>
    </div>
  </div>



  <div class="panel panel-success">
    <div class="panel-heading">List all the Bowlers</div>
      <div class="panel-body">  
    	  <form class="form" ng-submit="listBowlers()" accept-charset="UTF-8">
    	  	 <li ng-repeat="b in bowlers"> {{b}} </li>
    	  	 <button type="submit" id="btn-signin" class="btn btn-primary btn-default" >Search All</button>
    	  </form>
        <span us-spinner="{radius:15, width:5, length: 15}" spinner-on="showSpinnerSearchAll"></span>
    </div>
  </div>



</div>