<div class="container">
<div class="navbar navbar-default grey" role="navigation"> 
  <ul class="nav nav-tabs">
    <li><a ng-href="#bowlers"><strong>Bowlers</strong></a></li>
    <li class="active"><a ng-href="#leagues"><strong>Leagues</strong></a></li>
    <a ng-click="logout()" class="btn btn-primary btn-lg pull-right">Logout</a>
  </ul>
</div>
</div>


<div class="container">

<span us-spinner="{radius:15, width:5, length: 15}" spinner-on="showSpinner"></span>

  <div class="panel panel-info">
    <div class="panel-heading"><strong>Create and Search Leagues</strong></div>

      <div class="row">
        <div class="col-md-6">
          <div class="panel-body">      
            <form class="form" ng-submit="createLeague()" accept-charset="UTF-8">
             <div class="input-group">
              <input class="form-control" ng-model="lname" placeholder="League name" required="required" maxlength="60" type="text">
               <span class="input-group-btn">
               <button type="submit" id="btn-signin" class="btn btn-info">Create</button>
               </span>
             </div>
           </form>
          </div>
        </div>


        <div class="col-md-6">
          <div class="panel-body">  
            <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
              <input class="form-control input" ng-model="lId" placeholder="League ID or League Name" required="required" maxlength="60" type="text">
            </div>
          </div>
        </div>
      </div>

     <div class="panel-body">   


        <div class="panel list-group-item" style="background-color:#deeff5"ng-click="toggleDetails($index, l)" ng-repeat="l in leagues | filter:lId" data-toggle="collapse" data-target="#child">
          <div class="text-right">
            <i ng-hide="activePosition==$index" class="glyphicon glyphicon-plus"></i>
            <i ng-show="activePosition==$index" class="glyphicon glyphicon-minus"></i>
          </div>
          <div class="row">
            <div class="col-md-5"><h4><strong>{{l.id}}</strong>
              <strong>{{l.name}}</strong></h4>
            </div>  
          </div>
     
        
        
           <div class="list-group-item collapse" id="child" ng-show="activePosition==$index" ng-click="$event.stopPropagation()">
            <div class="panel panel-info">
              <div class="panel-heading">
                <strong>Add Bowler to League</strong>
              </div>
              <div class="panel-body">
                <strong>Bowler ID:</strong>
              <select ng-model="selectBowler">
                <option ng-repeat="b in bowlers" value="{{b.id}}">
                {{b.id}}
                </option>
                </select>
                <span class="list-group-btn">
                <button ng-click="addBowlerToLeague(selectBowler, l)" class="btn btn-success" ng-disabled="selectBowler==null">Add</button>
               </span>
              <table class="table table-striped" ng-hide="leagueBowlers.length == 0">
               <th>Bowler ID</th>
               <th>Bowler Name</th>
               <tr ng-repeat="lb in leagueBowlers">
                <td>{{lb.id}}</td>
                <td>{{lb.name}}</td>  
               </tr>
              </table>
              </div>
            </div>

             
            <div class="panel panel-info">
              <div class="panel-heading">
               <strong>Buy Ticket for a Bowler</strong>
              </div>

               <div class="panel-body">
                 <strong>Bowler ID:</strong>
                 <select ng-model="selectB">
                  <option ng-repeat="lb in leagueBowlers" value="{{lb.id}}">
                  {{lb.id}}
                  </option>
                 </select>
              
                 <strong>Lottery ID:</strong>
                 <select ng-model="selectLottery">
                  <option ng-repeat="lottery in lotteries" value="{{lottery.id}}">
                  {{lottery.id}}
                  </option>
                 </select>
               
                <button ng-click="buyTicketForBowler(l, selectLottery, selectB)" class="btn btn-success" ng-disabled="selectB==null || selectLottery==null">Buy Ticket</button>
                <a class="button pull-right" ng-click="refreshTicketsList(l, selectLottery)"><i class="glyphicon glyphicon-refresh"></i></a>
                <table class="table table-striped" ng-hide="tickets.length==0">
                <th>Lottery ID</th>
                <th>Bowler ID</th>
                <th>Price</th>
                <th>Winner</th>
                   <tr ng-repeat="ticket in tickets">
                    <td>{{ticket.lottery_id}}</td>
                    <td>{{ticket.bowler_id}}</td>
                    <td>{{ticket.price}}</td>     
                    <td>{{ticket.is_winner}}</td>  
                   </tr>
                </table>
               </div>
            </div>
              

              <div class="panel panel-info">
                <div class="panel-heading">
                 <strong>List Lotteries</strong>
                 </div>

              <div class="panel-body">
                 <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input class="form-control input" ng-model="lyId" placeholder="Lottery ID or Lottery Name" required="required" maxlength="60" type="text">
                 </div>

                <table class="table table-striped" ng-hide="lotteries.length == 0">
                  <th>Lottery ID</th>
                  <th>Balance</th>
                  <th>Pin Count</th>
                  <th>Payout</th>
                     <tr ng-repeat="lottery in lotteries | filter:lyId">
                      <td>{{lottery.id}}</td>
                      <td>{{lottery.balance}}</td> 
                      <td>{{lottery.pin_count}}</td>    
                      <td>{{lottery.payout}}</td>  
                     </tr>
                </table>
               </div>
              </div>
              
              <strong>Lottery ID:</strong>
              <select ng-model="selectLotteryWinner">
                <option ng-repeat="lottery in lotteries" value="{{lottery.id}}">
                {{lottery.id}}
                </option>
              </select>

              <div class="col-sm-6">
              <form class="form" ng-submit="pinCount(l, selectLottery)" accept-charset="UTF-8">
               <div class="input-group">
                <input class="form-control" ng-model="p_count" placeholder="Enter pin count" required="required" maxlength="60" type="number">
                 <span class="input-group-btn">
                 <button type="submit" class="btn btn-success">Record</button>
                 </span>
               </div>
              </form>
              </div>

              <button ng-click="drawTicket(l, selectLotteryWinner)" class="btn btn-success" ng-disabled="selectLotteryWinner==null || tickets==null">DRAW TICKET</button>
              <p ng-show="winners.bowler_id != null"><h4><strong>Winner: </strong> Bowler {{winners.bowler_id}}</h4></p>

          </div>     
  
  </div>

</div>
 </div>

</div>

